########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB2,  EXP1_3=PE11, EXP1_5=PD9, EXP1_7=PE15, EXP1_9=<GND>,
    EXP1_2=PE10, EXP1_4=PD10, EXP1_6=PD8, EXP1_8=PE7,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE9, EXP2_5=PE8, EXP2_7=PD13,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

    # See the sample-lcd.cfg file for definitions of common LCD displays.

# Some alternate glyphs for use with 128x64 LCDs. These are used by
# adding them to your printer.cfg.

# See docs/Config_Reference.md for a description of parameters.

######################################################################
# MKS Mini 12864Panel v3.x (with neopixel backlight leds)
######################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.1
initial_GREEN: 0
initial_BLUE: 0

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob

[gcode_macro SET_LED_TEMPERATURES]
gcode:
    {% set extrudertemp = printer.extruder.temperature %}
    {% set bedtemp = printer.heater_bed.temperature %}

    # Make display red if any heater is above 50C
    {% if extrudertemp >= 50 or bedtemp >= 50 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.00 BLUE=0.00 INDEX=1
    {% else %}
        SET_LED LED=mini12864 RED=0.00 GREEN=1.00 BLUE=1.00 INDEX=1
    {% endif %}

    {% if extrudertemp >= 180 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.50 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 160 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.40 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 140 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.30 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 120 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.20 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 100 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.10 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 80 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.00 BLUE=0.00 INDEX=2
    {% elif extrudertemp >= 60 %}
        SET_LED LED=mini12864 RED=0.66 GREEN=0.00 BLUE=0.33 INDEX=2
    {% elif extrudertemp >= 40 %}
        SET_LED LED=mini12864 RED=0.33 GREEN=0.00 BLUE=0.66 INDEX=2
    {% else %}
        SET_LED LED=mini12864 RED=0.00 GREEN=0.00 BLUE=1.00 INDEX=2
    {% endif %}

    {% if bedtemp >= 100 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.50 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 90 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.40 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 80 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.30 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 70 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.20 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 60 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.10 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 50 %}
        SET_LED LED=mini12864 RED=1.00 GREEN=0.00 BLUE=0.00 INDEX=3
    {% elif bedtemp >= 40 %}
        SET_LED LED=mini12864 RED=0.66 GREEN=0.00 BLUE=0.33 INDEX=3
    {% elif bedtemp >= 30 %}
        SET_LED LED=mini12864 RED=0.33 GREEN=0.00 BLUE=0.66 INDEX=3
    {% else %}
        SET_LED LED=mini12864 RED=0.00 GREEN=0.00 BLUE=1.00 INDEX=3
    {% endif %}

[gcode_macro setdisplayneopixel]
gcode:
        SET_LED LED=mini12864 RED=0.5 GREEN=0.5 BLUE=0.5 INDEX=1 TRANSMIT=0
        SET_LED LED=mini12864 RED=0.5 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=mini12864 RED=0.5 GREEN=0 BLUE=0 INDEX=3