#####################################################################
# 	Fan Control
#####################################################################
[heater_fan hotend_fan]                     # 熱端風扇 Hotend Fan - FAN0 Connector
pin: PA1                                    # 信号接口v2.x # Spider v2.x
max_power: 1.0                              # 最大转速
kick_start_time: 0.5                        # 启动时间（勿动）
heater: extruder                            # 關聯設備: 擠出機
heater_temp: 50.0                           # 挤出机达到多少度启动风扇
fan_speed: 1.0                              # 风扇转速 ##	If you are experiencing back flow, you can reduce fan_speed

[fan]                                       # 模型冷卻風扇 Print Cooling Fan - FAN1 Connector
pin: PA2
max_power: 1.0                              # 最大转速
kick_start_time: 0.5                        # 启动时间（勿动）
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10                             # 勿动

[temperature_fan chamber]
pin: PA0                                    # 倉溫風扇 pin
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.10

sensor_pin: PC2                             # 倉温热敏 pin
sensor_type: Generic 3950

min_temp: 10
max_temp: 70
target_temp: 40.0                           # 溫控溫度目標
control: watermark
gcode_id: C

#[heater_fan controller_fan]
#pin: PA0
#max_power: 1.0                             # 最大转速
#heater: host                               # 關聯設備: 上位機
#heater_temp: 50.0                          # 啟用溫度
#shutdown_speed: 1

# [controller_fan my_controller_fan]
# pin: PB2
# max_power: 0.5
# fan_speed: 1
# idle_timeout: 5
# heater: heater_bed, extruder
# stepper: stepper_x, stepper_y

# [fan_generic 排气]                        # 打印仓排风扇
# pin: PB3                                  # 信号接口
# max_power: 1.0                            # 最大转速
# shutdown_speed: 0.0                       # 关闭速度（勿动）
# kick_start_time: 5.0                      # 开启时间（勿动）
#sensor_type: Generic 3950                  # 传感器类型
#sensor_pin: PC1                            # 电器仓传感器接口
#min_temp: -5.0                             # 最小温度（注意：测量温度超过设定值会触发紧急停止）
#max_temp: 100                              # 最大温度（注意：测量温度超过设定值会触发紧急停止）
#target_temp: 65.0                          # 打印仓达到多少度启动风扇
#gcode_id: C
#control: watermark